<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="/assets/dataTable/buttons.dataTables.min.css">
<link rel="stylesheet" href="/assets/dataTable/jquery.dataTables.min.css">

<link rel="stylesheet" href="/css/category.css">
<%- include("../../header",{title:"Quản lý danh mục"}) %>
<div class="main-panel">
  <div class="content-wrapper">
    <div class="div-header-table">
      <div class="row">
        <div class="col-4 col-md-2 col-lg-2">
          <label>Hiển thị</label>
          <select onchange="getData()" id="selectLimit">
              <option value="<%- limit %>"><%- limit %></option>
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="30">30</option>
              <option value="50">50</option>
              <option value="100">100</option>
          </select>
        </div>
        <div class="col-8 col-md-3">
          <label>Tìm kiếm</label>
          <input id="keyFind" autocomplete="off"  value="<%- key %>" placeholder="Nhập tên hoặc số điện thoại . . ." type="text" class="form-control" >
        </div>
        <div class="col-7 col-md-3">
          <label>Danh mục lớn &nbsp; &nbsp; <i onclick="showPopup('popupAddSuper',true)" class="mdi mdi-comment-plus-outline text-primary"> <span class="hide-on-mobile">Thêm</span></i></label>
          <select onchange="getData()" name="selectSuper" id="selectSuperCategory">
            <option value="">Tất cả</option>
          </select>
        </div>
        <div class="col-5 col-md-3 col-lg-1 col-xl-1 relative">
          <button id="btnAdd" onclick="showPopup('popupAdd',true)" class="btn btn-success absulate"><i class="mdi mdi-chart-pie"></i> <span class="hide-on-mobile"> Thêm mới </span></button>
        </div>
        <div class="col-1 col-md-1 relative">
          <i id="btnDownloadCategory" onclick="downloadCategory()" class="mdi mdi-download text-success"></i>
        </div>
      </div>
    </div>
    <div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div id="divTable" class="table-responsive">
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>STT</th>
                        <th>Tên danh mục</th>
                        <th>Hình ảnh</th>
                        <th>Trạng thái</th>
                        <th>Thuộc danh mục lớn</th>
                        <th>Chi tiết</th>
                      </tr>
                    </thead>
                    <tbody id="tbodyTable"></tbody>
                </table>
            </div>
          </div>
          <div id="divPagination"></div>
        </div>
      </div>
    </div>
  </div>


<!-- Popup -->
<!-- Popup -->
<!-- Popup thêm mới -->
<div id="popupAddSuper" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Thêm mới danh mục lớn</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <label>Tên danh mục lớn</label>
            <input class="form-control" type="text" id="addNameSuper" placeholder="Nhập tên danh mục">
        </div>
        <div class="modal-footer">
          <button type="button" onclick="confirmAddSuper()" class="btn btn-danger">Thêm mới</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
        </div>
      </div>
    </div>
  </div>
<!-- Popup thêm mới -->
<div id="popupAdd" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog model-80" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Thêm mới danh mục <i class="mdi mdi-account-minus"></i> </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12 col-md-6">
            <label>Tên danh mục</label>
            <input class="form-control" type="text" id="addName" placeholder="Nhập tên danh mục">
          </div>
          <div class="col-12 col-md-6">
            <label>Trạng thái hiển thị trên web</label>
            <div style="display: flex;" class="form-group">
              <div class="form-check form-check-success">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="addStatus"  value="true"  checked=""> Đang hiển thị <i class="input-helper"></i></label>
              </div>
              <div class="form-check form-check-primary">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="addStatus" value="false" >Không hiển thị<i class="input-helper"></i></label>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <label>Danh mục lớn</label>
            <select name="selectSuper" id="selectSuperAddCategory"></select>
          </div>
        </div>   
        <div class="div-image relative col-12 col-md-12">
          <b>Chọn ảnh</b>
          <br>
          <img id="imgAdd" onclick="changeImage('inputAddImage')">
          <input onchange="paste_Image(this,'imgAdd')" id="inputAddImage" type="file" accept="image/*">
        </div>
       
      </div>

      <div class="modal-footer">
        <button type="button" onclick="confirmAdd()" class="btn btn-danger">Thêm mới</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>

<!-- Popup -->
<!-- Popup thêm mới -->
<div id="popupEdit" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog model-80" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Chỉnh sửa <i class="mdi mdi-account-minus"></i> </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12 col-md-6">
            <label>Tên danh mục</label>
            <input class="form-control" type="text" id="editName" placeholder="Nhập tên danh mục">
          </div>
          <div class="col-12 col-md-6">
            <label>Trạng thái hiển thị trên web</label>
            <div style="display: flex;" class="form-group">
              <div class="form-check form-check-success">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="editStatus"  value="true"  checked=""> Đang hiển thị <i class="input-helper"></i></label>
              </div>
              <div class="form-check form-check-primary">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="editStatus" value="false" >Không hiển thị<i class="input-helper"></i></label>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <label>Danh mục lớn</label>
            <select name="selectSuper" id="selectSuperEditCategory"></select>
          </div>
        </div>   
        <div class="div-image relative col-12 col-md-12">
          <b>Chọn ảnh</b>
          <br>
          <img id="imgEdit" onclick="changeImage('inputEditImage')">
          <input onchange="paste_Image(this,'imgEdit')" id="inputEditImage" type="file" accept="image/*">
        </div>
       
      </div>

      <div class="modal-footer">
        <button type="button" id="confirmEdit" class="btn btn-danger">Lưu thay đổi</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>
<!--  -->
<!-- Popup thêm mới -->
<div id="popupDetailKey" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog model-80" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Chỉnh sửa từ khóa<i class="mdi mdi-account-minus"></i> </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div id="divTableKey">
            <button onclick="showPopup('popupAddKey',true, 'popupDetailKey')" class="btn btn-success">Thêm mới +</button>
            <table class="table table-hover">
              <thead>
              <tr>
                  <th>Số tt</th>
                  <th>Từ khóa</th>
                  <th>Giá trị</th>
                  <th>Chi tiết</th>
              </tr>
              </thead>
              <tbody id="tbodyKey"></tbody>
            </table>
          </div>
       
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>

<div id="popupAddKey" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog model-80" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Thêm mới<i class="mdi mdi-account-minus"></i> </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <label>Từ khóa</label>
          <input placeholder="Nhập từ khóa" type="text" id="addKey" class="form-control">
          <br>
          <label>Giá trị (enter để phân biệt)</label>
          <input placeholder="Nhập giá trị" type="text" onkeypress="changeValueKey(this)" id="addValueKey" class="form-control">
      </div>

      <div class="modal-footer">
        <button type="button" id="confirmAddKey" class="btn btn-danger">Thêm mới</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>
<!-- Popup -->

<div id="popupEditKey" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog model-80" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Chỉnh sửa từ khóa<i class="mdi mdi-account-minus"></i> </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <label>Từ khóa</label>
          <input placeholder="Nhập từ khóa" type="text" id="editKey" class="form-control">
          <br>
          <label>Giá trị (enter để phân biệt)</label>
          <input placeholder="Nhập giá trị" type="text" onkeypress="changeValueKey(this)" id="editValueKey" class="form-control">
      </div>

      <div class="modal-footer">
        <button type="button" id="btnconfirmEditKey" class="btn btn-danger">Lưu chỉnh sửa</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>
<!-- Popup -->
<div id="popupDeleteKey" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog model" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa từ khóa<i class="mdi mdi-delete-forever text-danger"></i> </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         Bạn có chắc muốn xóa từ khóa này không?
      </div>

      <div class="modal-footer">
        <button type="button" id="btnconfirmDeleteKey" class="btn btn-danger">Lưu chỉnh sửa</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>
<!-- Popup -->
<!--  -->

<!-- =============== -->
<%- include("../../footer") %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.7.12/xlsx.core.min.js"></script>
<script src="https://cdn.jsdelivr.net/alasql/0.3/alasql.min.js"></script>
<script>
    var limit = '<%- limit %>'
    var page = '<%- page %>'
    var id_super_category = '<%- id_super_category %>'
    var key = '<%- key %>'
</script>
<script src="/js/SystemsManagement/Category/index.js"></script>
</body>
</html>